HA Light Brightness Flow.json
[{"id":"70f733412440d4d6","type":"mqtt in","z":"64c4b54709496aaf","name":"","topic":"stat/OXRS-WP-LOUNGE/lwt","qos":"2","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":2620,"wires":[["bd1db5f60279e37c"]]},{"id":"bd1db5f60279e37c","type":"function","z":"64c4b54709496aaf","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":2380,"wires":[["6214fc3baaf2eb67","3e48a706e5af8f76","5ef7e7c61e826dee","5cc081414e96b81d","b1e837503cbd9415","3844e519abea70bd","e5e82e43ea9c3059","3c23c658df0dcfdc","a34649a46ee58147","83d821920b5ee333","aa65913b8b78adc5","2474c0fa2d7be987"]]},{"id":"0970434191c40217","type":"inject","z":"64c4b54709496aaf","name":"Update Values","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":240,"y":2180,"wires":[["bd1db5f60279e37c"]]},{"id":"cba16b62aae1044f","type":"server-state-changed","z":"64c4b54709496aaf","name":"","server":"ed828d0a.59d3a","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.loungelight1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":430,"y":2080,"wires":[["9a7d9fdf49b64f14"]]},{"id":"3e48a706e5af8f76","type":"api-current-state","z":"64c4b54709496aaf","name":"","server":"ed828d0a.59d3a","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.loungelight1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":2040,"wires":[["14c6e0b1a575d362"]]},{"id":"9a7d9fdf49b64f14","type":"change","z":"64c4b54709496aaf","name":"Format the Same","rules":[{"t":"set","p":"data.attributes.brightness","pt":"msg","to":"","tot":"str"},{"t":"move","p":"data.new_state.attributes.brightness","pt":"msg","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2080,"wires":[["14c6e0b1a575d362"]]},{"id":"14c6e0b1a575d362","type":"function","z":"64c4b54709496aaf","name":"Brightness Payload","func":"msg.level = Number((msg.data.attributes.brightness /2.55).toFixed(0));\n\n\nif(isNaN(msg.level)) {\n  msg.level = \"Off\"\n}else {\n    msg.level = msg.level\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":2040,"wires":[["1a7a1eaa02a2ee13"]]},{"id":"1a7a1eaa02a2ee13","type":"change","z":"64c4b54709496aaf","name":"Lounge s:2, t:1","rules":[{"t":"set","p":"screen","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"tile","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"subLabel","pt":"msg","to":"level","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"cmnd/OXRS-WP-LOUNGE","tot":"str"},{"t":"set","p":"icon","pt":"msg","to":"ceilinglight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2080,"wires":[["18418c072d11ce57","47f3ef7708264008","01c55fdf9947ac4e"]]},{"id":"01c55fdf9947ac4e","type":"template","z":"64c4b54709496aaf","name":"Item State with Icon Update","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"tiles\":[\n        {\n            \"screen\":{{screen}},\n            \"tile\":{{tile}},\n            \"state\":\"{{payload}}\",\n            \"icon\":\"{{icon}}\"\n        }\n    ]\n}","output":"json","x":1880,"y":1840,"wires":[["2a766fe33b6464d6"]]},{"id":"47f3ef7708264008","type":"template","z":"64c4b54709496aaf","name":"Item Sublabel Update","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"tiles\":[\n        {\n            \"screen\":{{screen}},\n            \"tile\":{{tile}},\n            \"subLabel\": \"{{subLabel}}\"\n        }\n    ]\n}\n","output":"json","x":1860,"y":1900,"wires":[["2a766fe33b6464d6"]]},{"id":"18418c072d11ce57","type":"template","z":"64c4b54709496aaf","name":"Item Level Update","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"tiles\":[\n        {\n            \"screen\":\"{{screen}}\",\n            \"tile\":\"{{tile}}\",\n            \"level\":\"{{level}}\"\n        }\n    ]\n}\n\n","output":"json","x":1850,"y":2020,"wires":[["2a766fe33b6464d6"]]},{"id":"2a766fe33b6464d6","type":"mqtt out","z":"64c4b54709496aaf","name":"Update Status on Screens","topic":"","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"eca6af44.5297b","x":2410,"y":2120,"wires":[]},{"id":"eca6af44.5297b","type":"mqtt-broker","name":"MQTT","broker":"10.0.0.21","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ed828d0a.59d3a","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]