Track_active_screen_and_send_time_to_footer.json
[{"id":"efeb9ebf53067dbe","type":"simpletime","z":"871dc0931de09d0e","name":"","mydate":false,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":true,"myhour":false,"mytime":false,"mytimes":false,"myminute":true,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":true,"x":490,"y":420,"wires":[["0b3abcc101311e1a"]]},{"id":"8f032e91ce93ae52","type":"function","z":"871dc0931de09d0e","name":"Set Variable","func":"//screen load event\nvar activeScreen=flow.get('activeScreen') || 0;\nif (msg.payload.type == \"screen\" && msg.payload.state == \"loaded\"){\nflow.set('activeScreen',msg.payload.screen)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":420,"wires":[["efeb9ebf53067dbe"]]},{"id":"72afdbc4dabc4c63","type":"mqtt in","z":"871dc0931de09d0e","name":"","topic":"stat/OXRS-WP-OFFICE","qos":"2","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":420,"wires":[["8f032e91ce93ae52"]]},{"id":"0b3abcc101311e1a","type":"function","z":"871dc0931de09d0e","name":"Configure Time Payload","func":"msg.footer = (\"#ff0000 \" + msg.myhourpm + \":\" + msg.myminute + msg.mypm+ \"#\")\nvar activeScreen=flow.get('activeScreen') || 0;\nmsg.screen = activeScreen \nmsg.topic = \"cmnd/OXRS-WP-OFFICE\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":420,"wires":[["580ddc77faefda66"]]},{"id":"580ddc77faefda66","type":"template","z":"871dc0931de09d0e","name":"Screen Footer Update","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"screens\":[\n        {\n            \"screen\":{{screen}},\n            \"footer\":\"{{footer}}\"\n        }\n    ]\n}","output":"json","x":960,"y":420,"wires":[["70629bd6a22b1260"]]},{"id":"70629bd6a22b1260","type":"mqtt out","z":"871dc0931de09d0e","name":"Update Status on Screens","topic":"","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"eca6af44.5297b","x":1210,"y":420,"wires":[]},{"id":"eca6af44.5297b","type":"mqtt-broker","name":"MQTT","broker":"10.0.0.21","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]